@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

*{
    font-family: 'Redressed', cursive;
    font-weight: bold;
    font-size: 20px;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: aqua;
}

.container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 20px 20px;
    border: 10px solid black;
    background-color: black;
    border-radius: 10px;
    text-align: center;
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows:minmax(80px,auto);
    
}

input[type="text"]{
    height: 50px;
    width: 220px;
    background-color: black;
    border: 0px;
    color: aliceblue;
    text-align: right;
}